.service-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 60px 20px;
  background-color: #f1f1f3;
}

.service-text {
  max-width: 500px;
}

.service-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.highlight {
  color: #000;
}

.contenedor-estrellas {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.contenedor-estrellas img {
  width: 110px;
  margin-top: -60px;
  margin-left: -20px;
}

.service-text p {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
  line-height: 1.5;
}

.service-image img {
  width: 200px;
}

.info-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  padding: 40px 20px;
  flex-wrap: wrap;
  text-align: center;
}

.info-item {
  flex: 1 1 200px;
  max-width: 250px;
  margin: 20px;
}

.info-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.info-item p {
  font-size: 16px;
  color: #444;
}
